@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #ffffff;
}

.wrapper {
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    border-radius: 10px;
    border: 4px solid transparent;
    background-image: linear-gradient(#ffffff, #ffffff), linear-gradient(#0359A4, #4895D9);
    background-origin: border-box;
    background-clip: padding-box, border-box;
}

.btn-login {
    background: linear-gradient(#0359A4, #4895D9);
    color: #fff;
    border-radius: 40px;
    padding: 8px 32px;
    font-weight: 500;
    transition: 0.2s;
}

.btn-login:hover {
    transform: scale(1.1);
    color: #fff;
}

.form-control {
    border-radius: 40px;
    border: 2px solid #d52629;
    padding: 10px 20px;
}